PORT=3000
NODE_ENV=production
DB_HOST=tu-host-postgres
DB_PORT=5432
DB_NAME=bourgelat_prod
DB_USER=bourgelat_app
DB_PASSWORD=cambia-esta-clave
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA=
DB_RUN_MIGRATIONS=true
DB_SYNC=false
DB_ALTER=false
ALLOW_DB_SYNC_BOOTSTRAP=false
FRONTEND_URL=https://app.bourgelat.co
FRONTEND_URLS=https://app.bourgelat.co,https://bourgelat.co
PUBLIC_UPLOADS_BASE_URL=https://api.bourgelat.co/uploads
TRUST_PROXY=true
JWT_SECRET=cambia-esto-por-un-secreto-largo
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambia-esto-por-otro-secreto-largo
JWT_REFRESH_EXPIRES_IN=7d
INTEGRACIONES_SECRET=cambia-esto-por-un-secreto-largo
ENABLE_XSS_CLEAN=true
EXPOSE_INTERNAL_ERRORS=false
AUTH_MAX_FAILED_ATTEMPTS=5
AUTH_LOCK_MINUTES=15
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
AUTH_RATE_LIMIT_WINDOW_MS=900000
AUTH_RATE_LIMIT_MAX=10
AUTH_COOKIE_ENABLED=true
REQUIRE_ORIGIN_FOR_COOKIE_AUTH=true
ALLOW_REFRESH_TOKEN_IN_BODY=false
COOKIE_DOMAIN=
COOKIE_SAME_SITE=lax
COOKIE_SECURE=true
ACCESS_COOKIE_NAME=bourgelat_access_token
REFRESH_COOKIE_NAME=bourgelat_refresh_token
ACCESS_COOKIE_MAX_AGE_MS=900000
REFRESH_COOKIE_MAX_AGE_MS=604800000
FACTUS_ACTIVA=true
FACTUS_AMBIENTE=production
FACTUS_BASE_URL=
FACTUS_CLIENT_ID=
FACTUS_CLIENT_SECRET=
FACTUS_USERNAME=
FACTUS_EMAIL=
FACTUS_PASSWORD=
FACTUS_RANGO_NUMERACION_ID=
FACTUS_DOCUMENTO_CODIGO=01
FACTUS_FORMA_PAGO_CODIGO=1
FACTUS_METODO_PAGO_CODIGO=10
FACTUS_ENVIAR_EMAIL=true
